.MainNavbar {
	background-color: rgba(239, 80, 80, 0.763);
	width: auto;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: larger;
	align-items: center;
}

.NavItems {
	font-size: large;
	text-align: center;
	align-items: center;
	margin-bottom: 20px;
}

#nav-item {
	color: white;
	font-size: larger;
	font-weight: bold;
}

#nav-logo {
	margin-left: 2px;
}
